<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>QPWOEIRUTY</authToken>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>cd C:\rexperi
git pull
npm install
&quot;C:\Documents and Settings\TEMP\Application Data\npm\mocha.cmd&quot;
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>cd C:\rexperi
git push staging master
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>cd C:\rexperi
node staging_tests.js</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>cd C:\rexperi
git push production master</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.plugins.postbuildtask.PostbuildTask plugin="postbuild-task@1.8">
      <tasks>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText>exit [1-9]+</logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>true</RunIfJobSuccessful>
          <script>C:\CreateProcessAsUser.exe c:\SkypeCiNotification.exe &quot;-l \&quot;C:\Program Files\Jenkins\jobs\rexperi\builds\&quot; --users=coppen86;rune.vestvik -m \&quot;rexperi Failed!\&quot;&quot;</script>
        </hudson.plugins.postbuildtask.TaskProperties>
      </tasks>
    </hudson.plugins.postbuildtask.PostbuildTask>
  </publishers>
  <buildWrappers/>
</project>